@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Source Sans Pro, sans-serif;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  .table-wrapper td:first-child,
  .table-wrapper th:first-child {
    padding-left: 30px;
  }
  .table-wrapper .txt-ellipsis {
    display: inline-block;
    vertical-align: top;
    flex-shrink: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .table-wrapper .col-type-text {
    max-width: 300px;
  }
  .table-wrapper td:last-child,
  .table-wrapper th:last-child {
    padding-right: 30px;
  }
}
